@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2#Gilroy-Bold") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2#Gilroy-ExtraBold") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2#Gilroy-Medium") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Chronicle";
  font-display: swap;
  src: url("../fonts/Chronicle-Black.woff") format("woff"), url("../fonts/Chronicle-Black.woff2#Chronicle-Black") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Chronicle";
  font-display: swap;
  src: url("../fonts/Chronicle-Semibold.woff") format("woff"), url("../fonts/Chronicle-Semibold.woff2#Chronicle-Semibold") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  background-color: #0b1d26;
}

.wrapper {
  position: relative;
  z-index: 15;
}

._container {
  max-width: 1462px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 122.22222%;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.sub-title::before {
  content: "";
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  margin-right: 32px;
}

.logo {
  z-index: 20;
  font-family: "Chronicle";
  font-size: 32px;
  line-height: 118.75%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: inherit;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  -webkit-animation: header 1.9s linear;
          animation: header 1.9s linear;
  padding-top: 34px;
  margin-top: 34px;
  padding-bottom: 34px;
  -webkit-transition: background-color 2s ease 0s;
  -o-transition: background-color 2s ease 0s;
  transition: background-color 2s ease 0s;
  background-color: rgba(255, 255, 255, 0);
}

.header._scroll {
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  background-color: rgba(0, 0, 0, 0.541);
}

.header__container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__account {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  font-size: 17px;
  line-height: 123.52941%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__account::before {
  margin: 0px 10px 0px 0px;
  font-size: 24px;
}

@-webkit-keyframes header {
  0% {
    -webkit-transform: translate(0px, -200px);
            transform: translate(0px, -200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes header {
  0% {
    -webkit-transform: translate(0px, -200px);
            transform: translate(0px, -200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin-right: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list li:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 18px;
  line-height: 122.22222%;
  font-weight: 700;
  color: inherit;
}

.icon-menu {
  display: none;
}

.footer {
  margin-bottom: 120px;
  z-index: 10;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1800px;
  padding: 0px 20px;
  margin: 0 auto;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.footer__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 149px;
          flex: 0 0 149px;
}

.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 149px;
          flex: 0 0 149px;
}

.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 10px 0px 0px;
}

.footer__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 24px;
}

.footer__text {
  font-size: 18px;
  line-height: 177.77778%;
  margin-bottom: 122px;
}

.footer__copy {
  font-size: 18px;
  line-height: 177.77778%;
  font-weight: 500;
  opacity: 0.5;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__column_margin {
  margin-right: 212px;
}

.footer__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133.33333%;
  color: #fbd784;
  margin-bottom: 24px;
}

.footer__list li {
  margin-bottom: 16px;
}

.footer__list li:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-size: 18px;
  line-height: 177.77778%;
  font-weight: 500;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 16;
  background: -o-linear-gradient(119.76deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
  background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1800px;
  padding: 0px 20px;
  margin: 0 auto;
  margin-top: 100px;
}

.page__social {
  margin-top: 206px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 149px;
          flex: 0 0 149px;
  z-index: 10;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.page__body {
  z-index: 10;
  margin-top: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__navigation {
  z-index: 10;
  margin-top: 173px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 149px;
          flex: 0 0 149px;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.social-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-screen:last-child {
  margin-bottom: 0;
}

.social-screen__lable {
  font-size: 18px;
  margin: 0px 0px 24px 0px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-300%, 0px);
      -ms-transform: translate(-300%, 0px);
          transform: translate(-300%, 0px);
  opacity: 0;
}

.social-screen__lable._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.social-screen__item {
  margin: 0px 0px 24px 0px;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  -webkit-transform: translate(-300%, 0px);
      -ms-transform: translate(-300%, 0px);
          transform: translate(-300%, 0px);
  opacity: 0;
}

.social-screen__item._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 990px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 843px;
}

.main-block__sub-title {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  margin-bottom: 32px;
}

.main-block__sub-title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.main-block__title {
  font-family: "Chronicle";
  font-weight: 600;
  font-size: 88px;
  line-height: 113.63636%;
  text-transform: capitalize;
  margin: 0px 0px 0.36364em 0px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
}

.main-block__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.main-block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: inherit;
  font-size: 18px;
  line-height: 122.22222%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
}

.main-block__btn._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.7s;
  -o-transition: all 0.8s ease 0.7s;
  transition: all 0.8s ease 0.7s;
}

.main-block__btn::before {
  font-size: 16px;
  margin-left: 16px;
  -webkit-animation: arrow 1s infinite;
          animation: arrow 1s infinite;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: scale(1) rotate(90deg);
            transform: scale(1) rotate(90deg);
  }

  50% {
    -webkit-transform: scale(1.2) rotate(90deg);
            transform: scale(1.2) rotate(90deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(90deg);
            transform: scale(1) rotate(90deg);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: scale(1) rotate(90deg);
            transform: scale(1) rotate(90deg);
  }

  50% {
    -webkit-transform: scale(1.2) rotate(90deg);
            transform: scale(1.2) rotate(90deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(90deg);
            transform: scale(1) rotate(90deg);
  }
}

.cards-screen {
  margin-bottom: 200px;
}

.cards-screen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-screen__container_center {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cards-screen__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 632px;
          flex: 0 1 632px;
  padding-right: 10px;
}

.cards-screen__content_center {
  padding-right: 0;
}

.cards-screen__number {
  position: absolute;
  top: -17%;
  left: -24%;
  font-weight: bold;
  font-size: 240px;
  opacity: 0.1;
}

.cards-screen__sub-title {
  margin-bottom: 27px;
}

.cards-screen__title {
  font-family: "Chronicle";
  font-weight: 600;
  font-size: 64px;
  line-height: 120.3125%;
  margin-bottom: 27px;
}

.cards-screen__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 177.77778%;
  margin-bottom: 27px;
}

.cards-screen__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #fbd784;
  font-size: 18px;
  line-height: 122.22222%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cards-screen__btn::before {
  font-size: 16px;
  margin-left: 16px;
}

.cards-screen__img img {
  max-width: 100%;
}

._anim-show {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
}

._anim-show ._active,
._active ._anim-show {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.landing {
  text-align: right;
  -webkit-animation: land 1s linear;
          animation: land 1s linear;
}

.landing__links {
  padding: 6px 0px 6px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.landing__link {
  display: inline-block;
  font-size: 18px;
  line-height: 122.22222%;
  color: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 32px;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: border-right 0.3s ease 0s;
  -o-transition: border-right 0.3s ease 0s;
  transition: border-right 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.landing__link._active {
  border-right: 3px solid white;
}

.landing__link:last-child {
  margin-bottom: 0;
}

@-webkit-keyframes land {
  0% {
    -webkit-transform: translate(200px, 0px);
            transform: translate(200px, 0px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes land {
  0% {
    -webkit-transform: translate(200px, 0px);
            transform: translate(200px, 0px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

.parallax {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__body {
  position: relative;
}

.parallax__sky {
  position: absolute;
  width: 100%;
  height: 110%;
  top: -100px;
  left: 0;
  z-index: 4;
  padding: 0px 0px 50% 0px;
}

.parallax__sky img {
  max-width: 100%;
}

.parallax__mountain-center {
  position: absolute;
  width: 100%;
  height: 110%;
  top: 464px;
  left: 0;
  z-index: 5;
  padding: 0px 0px 80% 0px;
}

.parallax__mountain-center img {
  max-width: 100%;
}

.parallax__mountain {
  position: absolute;
  width: 100%;
  height: 110%;
  top: 768px;
  left: 0;
  z-index: 6;
  padding: 0px 0px 60% 0px;
}

.parallax__mountain img {
  max-width: 100%;
}

@media (min-width: 600px) {
  .cards-screen__content {
    margin-left: 150px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .logo:hover {
    color: #fbd784;
  }

  .header__account:hover {
    color: #fbd784;
  }

  .menu__list li:hover {
    color: #fbd784;
  }

  .footer__link:hover {
    color: #fbd784;
  }

  .social-screen__item:hover {
    color: #fbd784;
  }

  .cards-screen__btn:hover {
    color: #ffffff;
  }

  .landing__link:hover {
    color: #fbd784;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1300px) {
  .cards-screen__content {
    margin-top: 141px;
  }

  .parallax__mountain-center {
    top: 364px;
  }
}

@media (max-width: 1570px) {
  .parallax__mountain {
    top: 668px;
  }
}

@media (max-width: 1462px) {
  .sub-title {
    font-size: calc(9px + 9 * ((100vw - 320px) / 1142));
  }

  .sub-title::before {
    margin-right: calc(15px + 17 * ((100vw - 320px) / 1142));
  }

  .logo {
    font-size: calc(28px + 4 * ((100vw - 320px) / 1142));
  }

  .header {
    padding-top: calc(10px + 24 * ((100vw - 320px) / 1142));
  }

  .header {
    margin-top: calc(10px + 24 * ((100vw - 320px) / 1142));
  }

  .header {
    padding-bottom: calc(10px + 24 * ((100vw - 320px) / 1142));
  }

  .header__account {
    font-size: calc(14px + 3 * ((100vw - 320px) / 1142));
  }

  .menu__link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1142));
  }

  .footer {
    margin-bottom: calc(25px + 95 * ((100vw - 320px) / 1142));
  }

  .footer__logo {
    margin-bottom: calc(5px + 19 * ((100vw - 320px) / 1142));
  }

  .footer__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1142));
  }

  .footer__text {
    margin-bottom: calc(5px + 117 * ((100vw - 320px) / 1142));
  }

  .footer__copy {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1142));
  }

  .footer__column_margin {
    margin-right: calc(15px + 197 * ((100vw - 320px) / 1142));
  }

  .footer__title {
    font-size: calc(15px + 9 * ((100vw - 320px) / 1142));
  }

  .footer__title {
    margin-bottom: calc(5px + 19 * ((100vw - 320px) / 1142));
  }

  .footer__list li {
    margin-bottom: calc(5px + 11 * ((100vw - 320px) / 1142));
  }

  .footer__link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1142));
  }

  .page {
    margin-top: calc(40px + 60 * ((100vw - 320px) / 1142));
  }

  .page__social {
    margin-top: calc(65px + 141 * ((100vw - 320px) / 1142));
  }

  .page__body {
    margin-top: calc(40px + 94 * ((100vw - 320px) / 1142));
  }

  .page__navigation {
    margin-top: calc(40px + 133 * ((100vw - 320px) / 1142));
  }

  .social-screen__lable {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1142));
  }

  .main-block {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 1142));
  }

  .main-block {
    padding-right: calc(0px + 20 * ((100vw - 320px) / 1142));
  }

  .main-block {
    margin-bottom: calc(50px + 793 * ((100vw - 320px) / 1142));
  }

  .main-block__sub-title {
    margin-bottom: calc(15px + 17 * ((100vw - 320px) / 1142));
  }

  .main-block__title {
    font-size: calc(28px + 60 * ((100vw - 320px) / 1142));
  }

  .main-block__btn {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1142));
  }

  .main-block__btn::before {
    font-size: calc(9px + 7 * ((100vw - 320px) / 1142));
  }

  .main-block__btn::before {
    margin-left: calc(9px + 7 * ((100vw - 320px) / 1142));
  }

  .cards-screen {
    margin-bottom: calc(30px + 170 * ((100vw - 320px) / 1142));
  }

  .cards-screen__content {
    padding-right: calc(1px + 9 * ((100vw - 320px) / 1142));
  }

  .cards-screen__number {
    font-size: calc(40px + 200 * ((100vw - 320px) / 1142));
  }

  .cards-screen__sub-title {
    margin-bottom: calc(5px + 22 * ((100vw - 320px) / 1142));
  }

  .cards-screen__title {
    font-size: calc(24px + 40 * ((100vw - 320px) / 1142));
  }

  .cards-screen__title {
    margin-bottom: calc(5px + 22 * ((100vw - 320px) / 1142));
  }

  .cards-screen__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1142));
  }

  .cards-screen__text {
    margin-bottom: calc(5px + 22 * ((100vw - 320px) / 1142));
  }

  .cards-screen__btn {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1142));
  }

  .cards-screen__btn::before {
    font-size: calc(9px + 7 * ((100vw - 320px) / 1142));
  }

  .cards-screen__btn::before {
    margin-left: calc(9px + 7 * ((100vw - 320px) / 1142));
  }

  .landing__link {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1142));
  }

  .landing__link {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 1142));
  }

  .landing__link {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 1142));
  }

  .landing__link {
    padding-right: calc(5px + 27 * ((100vw - 320px) / 1142));
  }
}

@media (max-width: 1305px) {
  .parallax__mountain {
    top: 468px;
  }
}

@media (max-width: 1300px) {
  .parallax__mountain-center {
    top: 164px;
  }
}

@media (max-width: 1230px) {
  .parallax__mountain {
    top: 368px;
  }
}

@media (max-width: 1100px) {
  .footer__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 109px;
            flex: 0 0 109px;
  }

  .footer__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 109px;
            flex: 0 0 109px;
  }

  .page__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 109px;
            flex: 0 0 109px;
  }

  .page__navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 109px;
            flex: 0 0 109px;
  }
}

@media (max-width: 1000px) {
  .footer__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16px;
            flex: 0 0 16px;
  }

  .footer__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 59px;
            flex: 0 0 59px;
  }

  .page__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16px;
            flex: 0 0 16px;
  }

  .page__navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 59px;
            flex: 0 0 59px;
  }

  .main-block {
    margin-left: 100px;
  }

  .landing__link {
    padding-left: 5px;
  }
}

@media (max-width: 1000px) and (max-width: 1462px) {
  .main-block {
    margin-left: calc(0px + 100 * ((100vw - 320px) / 1142));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 868px) {
  .parallax__mountain {
    top: 268px;
  }
}

@media (max-width: 800px) {
  .page__navigation {
    top: 80px;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 150px 0px 0px 0px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.89);
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: black;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .menu__list li {
    margin: 0px 0px 30px 0px;
  }

  .menu__list li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 40px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 25;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 750px) {
  .cards-screen__number {
    top: -10%;
  }
}

@media (max-width: 737px) {
  .parallax__mountain-center {
    top: 134px;
  }
}

@media (max-width: 661px) {
  .parallax__mountain {
    top: 200px;
  }
}

@media (max-width: 653px) {
  .parallax__mountain-center {
    top: 124px;
  }
}

@media (max-width: 630px) {
  .parallax__mountain-center {
    top: 100px;
  }
}

@media (max-width: 600px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 5px 0px;
  }

  .cards-screen__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .cards-screen__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 20px;
  }

  .cards-screen__number {
    top: 0;
    left: 0;
    -webkit-transform: translate(-30px, -35px);
        -ms-transform: translate(-30px, -35px);
            transform: translate(-30px, -35px);
  }
}

@media (max-width: 600px) and (max-width: 1462px) {
  .cards-screen__content {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1142));
  }
}

@media (max-width: 550px) {
  .parallax__mountain-center {
    top: 90px;
  }
}

@media (max-width: 530px) {
  .parallax__mountain-center {
    top: 50px;
  }

  .parallax__mountain {
    top: 150px;
  }
}

@media (max-width: 520px) {
  .sub-title::before {
    width: 50px;
  }
}

@media (max-width: 465px) {
  .parallax__mountain-center {
    top: 40px;
  }

  .parallax__mountain {
    top: 100px;
  }
}

@media (max-width: 450px) {
  .cards-screen__number {
    -webkit-transform: translate(-20px, -25px);
        -ms-transform: translate(-20px, -25px);
            transform: translate(-20px, -25px);
  }
}

@media (max-width: 400px) {
  .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column_margin {
    padding: 0px 0px 10px 0px;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 380px) {
  .cards-screen__number {
    -webkit-transform: translate(-20px, -20px);
        -ms-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }

  .parallax__mountain-center {
    top: 30px;
  }
}

@media (max-width: 370px) {
  .sub-title::before {
    width: 20px;
  }
}

@media (max-width: 369px) {
  .parallax__mountain {
    top: 50px;
  }
}

@media (max-width: 355px) {
  .parallax__mountain-center {
    top: 20px;
  }
}

@media (max-width: 330px) {
  .parallax__mountain-center {
    top: 10px;
  }
}

@media (min-width: 1300px) and (max-width: 1462px) {
  .cards-screen__content {
    margin-top: calc(0px + 141 * ((100vw - 320px) / 1142));
  }
}

@media (min-width: 600px) and (max-width: 1462px) {
  .cards-screen__content {
    margin-left: calc(0px + 150 * ((100vw - 320px) / 1142));
  }
}